[submodule "Fundamentos/bloco-06-HTML-CSS/dia-03/Fundamentos/bloco-06-HTML-CSS/dia-03/exercise-tech-gallery"]
	path = Fundamentos/bloco-06-HTML-CSS/dia-03/Fundamentos/bloco-06-HTML-CSS/dia-03/exercise-tech-gallery
	url = git@github.com:tryber/exercise-tech-gallery.git
